.auth-nav {
  display: flex;

  display: none;
}

.auth-nav__link {
  display: flex;
  align-items: center;
  // padding-top: 31.5px;
  // padding-bottom: 31.5px;
}
.auth-nav__item:not(:last-child) {
  margin-right: 30px;
}

.auth-nav__icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  fill: var(--main-text-color);
  transition: fill var(--transition);
  
  .auth-nav__item:nth-child(2) & {
    margin-right: 7px;
  }
  
  .auth-nav__link:hover &,
  .auth-nav__link:focus & {
    fill: var(--accent-color);
  }
}


