.menu-container {
  width: 100%;
 
  @media screen and (max-width: 767.98px) {
    
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    height: 100vh;
    // height: calc(100vh - 20px);
    background-color: var(--lite-bg-color);
    padding: 48px 40px;
    // max-height: 796px;
    min-height: 500px;
    &.is-open {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu-containers__social-list {
  @media screen and (max-width: 767.98px) {
    position: absolute;
    left: 40px;
    bottom: 48px;
    display: flex;
    flex-wrap: wrap;
    
  }

  @media screen and (min-width: 768px) {
    display: none;
  }

}

.menu-containers__social-item {
  position: relative;
  
  &:not(:last-child) {
    margin-right: 20px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right:-10px;
      height: 22px;
      width: 1px;
      background-color: var(--title-color);
    }
  }
}

.menu-containers__social-item:not(:last-child) {
  margin-bottom: 5px;
}

.menu-containers__social-link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
}