.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-bg-color);

  text-align: center;
  
  @media  screen and (min-width: 1200px) {
    --grid__item: 2;
    text-align: left;
    
  }
}

.footer__call {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--lite-bg-color);
}