.grid {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;  
}

.grid__item {
  flex-basis: calc((100% - 30px * var(--grid__item)) / var(--grid__item));
  margin: 15px;
}

.content-in-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
