.header {
  border-bottom: 1px solid #ececec;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  z-index: -1000;
}

.header-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 59px;
  z-index: 0;
  
  @media screen and (min-width: 768px) {
    height: 79px;
  } 
}